*{
    margin: 0px;
    padding 0px;

}
h1{
    color: #d1920d;
}
body{
    background-image: url("../Nordestina/cook-366875_1280.jpg");
}
input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: white;
    
}

#corpo-form{
    
    width: 420px;
    margin: 130px auto 0px auto;
}
#corpo-form h1{
    text-align: center;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}
a:hover{
    text-decoration: underline;
}
input[type=submit]{
    background-color: #D1920D;
    border: none;
}

.fundo-branco{
    background-color: white;
    padding: 2px;
    border-radius: 10px;
}
